<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">


      <div class="new-agreement-container">
            <%= simple_form_for [@agreement_template, @agreement] do |f| %>
            <%= f.input :name, label: false, placeholder: "Name des Vertrages" %>
            <%= f.simple_fields_for :agreement_answer do |chosen_answers| %>
            <% @chapters.each do |chapter| %>
             <h4 class="chapter-title"> <!-- <#%= chapter.id %> - --> <%= chapter.title %></h4>
            <% @agreement_template.questions.each do |quest| %>
            <% if chapter.id == quest.chapter_id %>
            <h5 class="question-title"> <%= quest.id %> - <%= quest.title %></h5>
            <%= chosen_answers.input :answer, label_text: false, collection: quest.answers, as: :check_boxes %>
            <% end %>
            <% end %>
            <% end %>
            <% end %>

            <%= f.submit %>
            <% end %>
      </div>
    </div>
  </div>
</div>



